/*
    # Subject: Data 225 (Big Data Technologies)
    # Group No: 5
    # Topic: Real-Time Social Media Listening (Reddit)
    # Usage: CSS file for the Reddit Dashboard
    This file contains the CSS styles for the application.
    The styles are applied to the Dash components using the className attribute.
    The styles are applied to the components based on the className attribute value.
*/
.block-container {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.summary-text {
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #000;
    border: 1px solid #000;
}

.summary-header {
    color:blue;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}

.search-title {
    color:blue;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

section[data-testid="stSidebar"] > div {
    background-color: #fcddbe;   
}
